@model IEnumerable<ChatBot_Web.Models.Agendamento>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="card-header py-3">
            <h1 class="m-0 bold text-primary">Agendamentos</h1>
        </div>
        <div class="card-body">
            <table id="myTable" class="table table-bordered dataTable table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Paciente
                        </th>
                        <th>
                            Sobrenome
                        </th>
                        <th>
                            Especialidade
                        </th>
                        <th>
                            RG
                        </th>
                        <th>
                            Celular
                        </th>
                        <th>
                            Data / Horário
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente.Sobrenome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Especialidade.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente.RG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente.Celular)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                <a href="#" class="btn btn btn-warning text-white small btnEdit" data-toggle="modal" data-target="#editarReceitaModal" data-value="@item.Id"><i class="fa fa-edit"></i></a>
                                <a href="#" class="btn btn btn-info text-white small btnDetails" data-toggle="modal" data-target="#detalhesReceitaModal" data-value="@item.Id"><i class="fa fa-eye"></i></a>
                                <a href="#" class="btn btn btn-danger text-white small btnDelete" data-toggle="modal" data-target="#deletarReceitaModal" data-value="@item.Id"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>